name: Release .NET Application

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'The working directory for the build and test'
        type: string
        required: true
      test-working-directory:
        description: 'The working directory for the test project'
        type: string
        required: true
      dotnet-version:
        description: "SDK version (e.g., 6.0.x, 7.0.x, 8.0.x, and 9.0.x)"
        type: string
        default: 9.0.x
        required: true
      configuration:
        description: 'The build configuration to use (allowed values: Debug, Release)'
        type: string
        default: 'Debug'
        required: true
      verbosity:
        description: 'The verbosity level to use (allowed values: quiet, minimal, normal, detailed, diagnostic)'
        type: string
        default: 'minimal'
        required: true

jobs:  
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Update OS packages
        run: |
          echo "Updating OS packages..."
          sudo apt-get update
          echo "Finished updating OS packages."

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: ./.github/workflows/composite/setup-dotnet.yml
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          working-directory: ${{ inputs.working-directory }}

      - name: Build Application
        uses: ./.github/workflows/composite/build-dotnet.yml
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          working-directory: ${{ inputs.working-directory }}
          configuration: ${{ inputs.configuration }}
          verbosity: ${{ inputs.verbosity }}

      - name: Run Unit Tests
        uses: ./.github/workflows/composite/test-dotnet.yml
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          working-directory: ${{ inputs.test-working-directory }}
          configuration: ${{ inputs.configuration }}
          verbosity: ${{ inputs.verbosity }}